@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Movie Database</h1>
    <p>This website is dedicated to managing movies and actors. You can explore information on your favorite movies and actors, check out IMDb links, view related Reddit posts, and analyze sentiment using the latest technologies.</p>
    <p>Feel free to navigate through the different sections to view or manage movies, actors, and much more!</p>
</div>
