@{
    ViewData["Title"] = "Movies";
}
<h1>@ViewData["Title"]</h1>

<p>Here you can find a list of movies available in our database. You can manage each movie's details such as title, IMDb link, genre, year of release, and poster.</p>

